= bootstrap_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  .modal
    .modal-header
      %h3 Reset Password
    .modal-body
      = f.password_field :password
      = f.password_field :password_confirmation
    .modal-footer
      = f.cancel
      = f.submit nil, :value => 'Reset Password'
