= bootstrap_nested_form_for @contact, :html => { :class => 'form-horizontal' } do |f|
  .modal
    .modal-header
      %h3 Create/Update Contact
    .modal-body
      /= f.text_field :prefix
      = f.text_field :first_name
      = f.text_field :middle_name
      = f.text_field :last_name
      /= f.text_field :suffix
      /= f.text_field :nickname
      /= f.text_field :title
      /= f.text_field :department
      /= f.text_field :birthday

      = f.fields_for :emails do |ef|
        .line
          = ef.select :label, ['Work', 'Home']
          = ef.text_field :email_address
      .add
        = f.link_to_add '+Email', :emails

      .field
        .form-header
          = f.label :phones
        .form-body
          = f.fields_for :phones do |pf|
            .line
              = pf.select :label, ["Mobile", "Work", "Home"]
              = pf.text_field :phone_number
        .add
          = f.link_to_add '+Phone', :phones

    .modal-footer
      = f.cancel
      = f.submit
