= bootstrap_nested_form_for @contact, :html => { :class => 'form-horizontal' } do |f|
  .modal
    .modal-header
      %h3 Create/Update Contact
    .modal-body
      /= f.text_field :prefix
      = f.text_field :first_name
      = f.text_field :middle_name
      = f.text_field :last_name
      /= f.text_field :suffix
      /= f.text_field :nickname
      /= f.text_field :title
      /= f.text_field :department
      /= f.text_field :birthday

      = f.fields_for :emails do |ef|
        = ef.text_field :email_address
        = ef.select :label, %w(Work Home), :label => false, :include_blank => true
      = f.link_to_add :emails, :class => 'btn pull-right', :style => 'margin-top: -47px;' do
        %i.icon.icon-plus
        Email


      = f.fields_for :phones do |pf|
        = pf.text_field :phone_number
        = pf.select :label, %w(Mobile Work Home), :label => false, :include_blank => true
      = f.link_to_add :phones, :class => 'btn pull-right', :style => 'margin-top: -47px;' do
        %i.icon.icon-plus
        Phone

    .modal-footer
      = f.cancel
      = f.submit
