= form_tag forgot_password_path, :class => 'form-horizontal' do
  .modal
    .modal-header
      %h3 Forgot Password
    .modal-body
      = flash.alert
      = flash.notice
      .control-group
        = label_tag :login, 'Username or Email', :class => 'control-label'
        .controls
          = text_field_tag :login, params[:login]
    .modal-footer
      .control-group
        = submit_tag 'Reset Password', :class => 'btn btn-primary'