- if logged_in?
  .topbar
    .logo &nbsp;
    / .btn-group.pull-left
    /   = link_to '#', :class => 'btn dropdown-toggle', :data => { :toggle => 'dropdown' } do
    /     - if params[:controller] == 'contacts'
    /       %i.icon.icon-list-alt
    /     - else
    /       %i.icon.icon-envelope
    /   %ul.dropdown-menu
    /     %li
    /       = link_to unified_mailbox_messages_path(:inbox) do
    /         %i.icon.icon-envelope
    /         Mail
    /     %li
    /       = link_to contacts_path do
    /         %i.icon.icon-list-alt
    /         Contacts

    .btn-group.pull-left
      = link_to contacts_path, :id => 'wide-btn', :class => 'remote-modal btn', :rel => 'tooltip', :title => 'Contacts', :'data-placement' => 'bottom', :'data-toggle' => 'modal' do
        %i{:class => 'icon icon-th-list'}
    .btn-toolbar
      - if current_user.accounts.empty?
        .btn-group
          = link_to new_account_path, :class => 'btn' do
            %i{:class => 'icon icon-plus'}
            Add Account
          / = link_to new_account_path, :class => 'remote-modal btn', :rel => 'tooltip', :title => 'Add Email Account', :'data-placement' => 'bottom', :'data-toggle' => 'modal' do
          /   %i{:class => 'icon icon-plus'}            
      - else
        .btn-group 
          = link_to new_message_path, :class => 'remote-modal btn', :rel => 'tooltip', :title => 'Compose', :'data-placement' => 'bottom', :'data-toggle' => 'modal' do
            %i{:class => 'icon icon-pencil'}
          = link_to sync_accounts_path, :class => 'remote-modal btn', :rel => 'tooltip', :title => 'Sync Mailboxes', :'data-placement' => 'bottom', :'data-toggle' => 'modal' do
            %i{:class => 'icon icon-refresh'}
    .btn-group.pull-right
      = link_to '#', :class => 'btn dropdown-toggle', :data => { :toggle => 'dropdown' } do
        %i.icon.icon-user
        = current_user.name
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to edit_user_path(current_user) do
            %i.icon.icon-pencil
            Edit Profile
        %li
          = link_to accounts_path do
            %i.icon.icon-cog
            Manage Accounts
        %li.divider
        %li
          = link_to logout_path, :method => :delete do
            %i.icon.icon-lock
            Logout
    = form_tag nil, :class => 'pull-right' do
      = search_field_tag :q, params[:q], :id => 'search-box', :'data-search-path' => search_messages_path
