!!!
%html
  %head
    %title Envelope
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body
    / begin topbar
    = render 'topbar'

    .wrapper
      / sidebar
      = render 'sidebar'

      .alert#flash
      .content
        = yield

    = render 'private_pub'
    = render partial:'flash', locals:{ flash:flash }