!!!
%html
  %head
    %title Envelope
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    = javascript_include_tag 'application'
    = javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js"
    = csrf_meta_tag
    :javascript
      var pusher =  new Pusher('#{Envelope::Config.pusher['key']}');
      var channel = pusher.subscribe('#{User.first.channel}');
      channel.bind('cookies', function(data) {
        console.log(data);
      });


  %body.full
    / topbar
    = render 'topbar'
    / end topbar- if logged_in?

    .content
      = yield
